* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: montserrat, sans-serif;
  }
  
  .comingsoonheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?q=80&w=2047&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");/*https://images.unsplash.com/photo-1542315192-1f61a1792f33?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D*/
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .comingsoonheader:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(34, 34, 34, 0.5);
  }
  .comingsoonheader .comingsooncontent {
    position: relative;
    z-index: 1;
  }
  .comingsoonheader .comingsooncontent h1 {
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
  }
  .comingsoonheader .comingsooncontent h1 span {
    font-weight: 400;
  }
  @media screen and (min-width: 480px) {
    .comingsoonheader .comingsooncontent h1 {
      font-size: 36px;
    }
  }
  @media screen and (min-width: 768px) {
    .comingsoonheader .comingsooncontent h1 {
      font-size: 42px;
    }
  }
  @media screen and (min-width: 1024px) {
    .comingsoonheader .comingsooncontent h1 {
      font-size: 56px;
    }
  }
  @media screen and (min-width: 1280px) {
    .comingsoonheader .comingsooncontent h1 {
      font-size: 72px;
    }
  }
  .comingsoonheader .comingsooncontent h2 {
    color: #FFF;
    font-size: 42px;
    font-weight: 900;
    margin: 30px 0px;
  }
  @media screen and (min-width: 480px) {
    .comingsoonheader .comingsooncontent h2 {
      font-size: 56px;
    }
  }
  @media screen and (min-width: 768px) {
    .comingsoonheader .comingsooncontent h2 {
      font-size: 72px;
    }
  }
  @media screen and (min-width: 1024px) {
    .comingsoonheader .comingsooncontent h2 {
      font-size: 96px;
    }
  }
  @media screen and (min-width: 1280px) {
    .comingsoonheader .comingsooncontent h2 {
      font-size: 128px;
    }
  }
  .comingsoonheader .comingsooncontent .countdown {
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
  }
  @media screen and (min-width: 480px) {
    .comingsoonheader .comingsooncontent .countdown {
      font-size: 42px;
    }
  }
  @media screen and (min-width: 768px) {
    .comingsoonheader .comingsooncontent .countdown {
      font-size: 56px;
    }
  }
  @media screen and (min-width: 1024px) {
    .comingsoonheader .comingsooncontent .countdown {
      font-size: 72px;
    }
  }
  @media screen and (min-width: 1280px) {
    .comingsoonheader .comingsooncontent .countdown {
      font-size: 88px;
    }
  }

