.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .overlap-wrapper {
    background-color: #ffffff;
    height: 5420px;
    overflow: hidden;
    width: 1920px;
  }
  
  .home .overlap {
    height: 8947px;
    position: relative;
  }
  
  .home .background {
    background-color: #ffffff;
    height: 8947px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1919px;
  }
  
  .home .email-subscription {
    align-items: center;
    background-color: #ebf3f538;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    height: 414px;
    justify-content: center;
    left: 236px;
    padding: 34px 96px;
    position: absolute;
    top: 4285px;
    width: 1448px;
  }
  
  .home .frame {
    align-items: center;
    display: flex;
    gap: 56px;
    margin-bottom: -3.5px;
    margin-left: -36px;
    margin-right: -36px;
    margin-top: -3.5px;
    position: relative;
    width: 1328px;
  }
  
  .home .mask-group {
    height: 353px;
    position: relative;
    width: 620px;
  }
  
  .home .div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 46px;
    position: relative;
    width: 652px;
  }
  
  .home .title {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 15px;
    position: relative;
    width: 552px;
  }
  
  .home .text-wrapper {
    color: #141414;
    font-family: "Playfair Display-Bold", Helvetica;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.45px;
    line-height: 58.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home .p {
    color: var(--gray);
    font-family: "Manrope-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24.8px;
    margin-right: -83px;
    position: relative;
    width: 635px;
  }
  
  .home .subscribe {
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--secondary);
    border-radius: 45px;
    height: 68px;
    position: relative;
    width: 543px;
  }
  
  .home .mail {
    height: 32px;
    left: 27px;
    position: absolute;
    top: 17px;
    width: 151px;
  }
  
  .home .text-wrapper-2 {
    color: #004760;
    font-family: "Manrope-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 39px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 3px;
    white-space: nowrap;
  }
  
  .home .email {
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
  }
  
  .home .subscribe-btn {
    all: unset;
    background-color: var(--dark);
    border-radius: 45px;
    box-sizing: border-box;
    height: 50px;
    left: 387px;
    position: absolute;
    top: 8px;
    width: 144px;
  }
  
  .home .text-wrapper-3 {
    color: #ffffff;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
  }
  
  .home .footer-instance {
    background-color: transparent !important;
    left: 0 !important;
    position: absolute !important;
    top: 4785px !important;
  }
  
  .home .testimonials {
    align-items: center;
    background: linear-gradient(180deg, rgb(252.88, 252.88, 252.88) 0%, rgb(239.75, 240.5, 239.95) 100%);
    display: flex;
    flex-direction: column;
    gap: 56px;
    left: 0;
    padding: 64px 0px;
    position: absolute;
    top: 3114px;
    width: 1920px;
  }
  
  .home .title-wrapper {
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    padding: 11px 120px;
    position: relative;
    width: 100%;
  }
  
  .home .title-2 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 2px;
    position: relative;
    width: 552px;
  }
  
  .home .testimonials-2 {
    color: var(--maincolor);
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 23.2px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home .text-wrapper-4 {
    color: #141414;
    font-family: "Playfair Display-Bold", Helvetica;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.45px;
    line-height: 58.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home .team-section {
    align-items: center;
    background-color: var(--primary);
    border-radius: 40px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    padding: 96px 0px;
    position: relative;
    width: 1682px;
  }
  
  .home .container {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 64px;
    justify-content: center;
    padding: 0px 32px;
    position: relative;
    width: 1280px;
  }
  
  .home .contents {
    flex: 1;
    flex-grow: 1;
    height: 496px;
    position: relative;
  }
  
  .home .overlap-group {
    height: 443px;
    left: 167px;
    position: absolute;
    top: 14px;
    width: 292px;
  }
  
  .home .rectangle {
    background-color: #ffffff;
    border-radius: 104px;
    height: 443px;
    left: 0;
    position: absolute;
    top: 0;
    width: 70px;
  }
  
  .home .ellipse {
    height: 280px;
    left: 12px;
    object-fit: cover;
    position: absolute;
    top: 114px;
    width: 280px;
  }
  
  .home .rectangle-2 {
    background-color: #ffffff;
    border-radius: 104px;
    height: 228px;
    left: 83px;
    position: absolute;
    top: 14px;
    width: 70px;
  }
  
  .home .content {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 40px;
    position: relative;
  }
  
  .home .heading-and {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 339px;
    position: relative;
    width: 100%;
  }
  
  .home .frame-2 {
    height: 40px;
    margin-left: -23px;
    margin-top: -20px;
    position: relative;
    width: 599px;
  }
  
  .home .heading-and-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  
  .home .heading {
    align-self: stretch;
    color: #ecfff0;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.4px;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
  }
  
  .home .subheading {
    align-self: stretch;
    color: #ffffff;
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
  }
  
  .home .heading-and-3 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 100%;
  }
  
  .home .heading-2 {
    color: #ecfff0;
    font-family: "Playfair Display-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.72px;
    line-height: 44px;
    margin-right: -25px;
    margin-top: -1px;
    position: relative;
    width: 601px;
  }
  
  .home .untitled-is-growing {
    color: var(--white);
    font-family: "Manrope-Regular", Helvetica;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 34.2px;
    margin-right: -18px;
    position: relative;
    width: 594px;
  }
  
  .home .frame-3 {
    height: 40px;
    margin-right: -22.18px;
    position: relative;
    width: 598.18px;
  }
  
  .home .frame-4 {
    flex: 0 0 auto;
    position: relative;
  }
  
  .home .recommended {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 69px;
    left: 84px;
    position: absolute;
    top: 2281px;
  }
  
  .home .content-wrapper {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 32px;
    padding: 0px 32px;
    position: relative;
    width: 1280px;
  }
  
  .home .heading-and-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 100%;
  }
  
  .home .heading-and-4 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 768px;
  }
  
  .home .heading-and-5 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 100%;
  }
  
  .home .subheading-2 {
    align-self: stretch;
    color: var(--maincolor);
    font-family: "Manrope-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 23.2px;
    margin-top: -1px;
    position: relative;
    text-align: center;
  }
  
  .home .heading-3 {
    align-self: stretch;
    color: var(--primary);
    font-family: "Playfair Display-Bold", Helvetica;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 44px;
    position: relative;
    text-align: center;
  }
  
  .home .supporting-text {
    align-self: stretch;
    color: var(--gray);
    font-family: "Manrope-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    position: relative;
    text-align: center;
  }
  
  .home .frame-5 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 24px;
    justify-content: center;
    position: relative;
  }
  
  .home .frame-6 {
    height: 48px;
    position: relative;
    width: 48px;
  }
  
  .home .card {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #0000003d;
    border-radius: 24px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-bottom: -1px;
    margin-top: -1px;
    overflow: hidden;
    position: relative;
  }
  
  .home .rectangle-3 {
    height: 275px;
    object-fit: cover;
    position: relative;
    width: 384px;
  }
  
  .home .column {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    position: relative;
    width: 100%;
  }
  
  .home .frame-7 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  
  .home .frame-8 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }
  
  .home .frame-9 {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .home .text-wrapper-5 {
    color: var(--maincolor);
    font-family: "Open Sans-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .home .heading-4 {
    color: var(--dark);
    font-family: "Playfair Display-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .home .frame-10 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 100%;
  }
  
  .home .text-wrapper-6 {
    color: var(--dark);
    font-family: "Playfair Display-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-right: -16px;
    margin-top: -1px;
    position: relative;
    width: 352px;
  }
  
  .home .frame-11 {
    height: 38px;
    margin-right: -28px;
    position: relative;
    width: 364px;
  }
  
  .home .placeholder {
    height: 18px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 18px;
  }
  
  .home .text-wrapper-7 {
    color: var(--gray);
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 28px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 336px;
  }
  
  .home .button-instance {
    align-self: stretch !important;
    background-color: var(--maincolor) !important;
    border: 1px solid !important;
    border-color: var(--maincolor) !important;
    border-radius: 8px !important;
    display: flex !important;
    flex: 0 0 auto !important;
    overflow: hidden !important;
    width: 100% !important;
  }
  
  .home .design-component-instance-node {
    font-family: "Playfair Display-Bold", Helvetica !important;
    font-weight: 700 !important;
  }
  
  .home .rectangle-4 {
    height: 275px;
    position: relative;
    width: 384px;
  }
  
  .home .frame-12 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    margin-right: -28px;
    position: relative;
  }
  
  .home .placeholder-2 {
    height: 18px;
    position: relative;
    width: 18px;
  }
  
  .home .text-wrapper-8 {
    color: #667085;
    font-family: "Inter-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 336px;
  }
  
  .home .button-2 {
    align-self: stretch !important;
    background-color: unset !important;
    border: 1px solid !important;
    border-color: var(--maincolor) !important;
    border-radius: 8px !important;
    display: flex !important;
    flex: 0 0 auto !important;
    overflow: hidden !important;
    width: 100% !important;
  }
  
  .home .button-3 {
    color: var(--maincolor) !important;
    font-family: "Playfair Display-Bold", Helvetica !important;
    font-weight: 700 !important;
  }
  
  .home .gallery {
    align-items: center;
    background-color: #ebf3f580;
    display: flex;
    flex-direction: column;
    gap: 23px;
    left: 0;
    padding: 64px 120px;
    position: absolute;
    top: 1222px;
    width: 1920px;
  }
  
  .home .div-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 9px;
    position: relative;
    width: 100%;
  }
  
  .home .heading-and-6 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
    width: 768px;
  }
  
  .home .heading-5 {
    align-self: stretch;
    color: var(--primary);
    font-family: "Playfair Display-Bold", Helvetica;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.45px;
    line-height: 58.5px;
    margin-top: -1px;
    position: relative;
    text-align: center;
  }
  
  .home .frame-wrapper {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 76px;
    justify-content: flex-end;
    padding: 16px 0px;
    position: relative;
    width: 100%;
  }
  
  .home .frame-13 {
    align-items: center;
    border-radius: 40px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 24px;
    height: 611px;
    overflow: hidden;
    position: relative;
  }
  
  .home .frame-14 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 24px;
    overflow: hidden;
    position: relative;
  }
  
  .home .rectangle-5 {
    align-self: stretch;
    flex: 1;
    flex-grow: 1;
    object-fit: cover;
    position: relative;
  }
  
  .home .frame-15 {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;
    justify-content: center;
    margin-bottom: -10.5px;
    margin-top: -10.5px;
    position: relative;
  }
  
  .home .rectangle-6 {
    align-self: stretch;
    height: 293.5px;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  
  .home .category {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    left: 41px;
    position: absolute;
    top: 1003px;
  }
  
  .home .frame-16 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 168px;
    justify-content: center;
    padding: 0px 120px;
    position: relative;
    width: 1681px;
  }
  
  .home .frame-17 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 53px;
    justify-content: center;
    margin-left: -117.5px;
    margin-right: -117.5px;
    position: relative;
    width: 1676px;
  }
  
  .home .frame-18 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: -14.5px;
    position: relative;
    width: 240px;
  }
  
  .home .frame-19 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
  }
  
  .home .ellipse-2 {
    background-color: #f7e5c180;
    border-radius: 48px;
    height: 96px;
    position: relative;
    width: 96px;
  }
  
  .home .img-2 {
    height: 96px;
    margin-left: -66px;
    position: relative;
    width: 96px;
  }
  
  .home .text-wrapper-9 {
    color: var(--primary);
    font-family: "Manrope-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .home .frame-20 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 240px;
  }
  
  .home .frame-21 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    position: relative;
  }
  
  .home .scissor {
    height: 89px;
    margin-left: -66px;
    position: relative;
    width: 89px;
  }
  
  .home .text-wrapper-10 {
    color: var(--primary);
    font-family: "Manrope-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .home .frame-22 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: -14.5px;
    position: relative;
    width: 240px;
  }
  
  .home .banner {
    height: 933px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1919px;
  }
  